body {
    background-color: cadetblue;
    margin-left: 10%;
    margin-right: 10%;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

table {
    text-align: left;
    display: inline-block;
    border: 1px solid black;
}

thead tr td {
    color: cyan;
    text-align: center;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: DarkSeaGreen ;
}

tr:hover {
    background-color: #ffff99;
    font-style: italic;
    cursor: pointer;
} 

section#principal {
    text-align: center;
}